body {background-color: gray;}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    

}

#nav{
    display: flex;
    justify-content: center;
    background-color:gray;
    box-shadow: 0px 5px 5px darkgrey; 
}

#nav a {
    width: auto;
    height:25px;
    line-height: 25px;
    text-align: center;
    display: block;
    color: black;
    border-bottom: 2px solid grey;  
    margin-left: auto;
    margin-right: auto;
}


#nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#nav li {
    width: 300px;
    text-align: center;
    position: relative;
}

#menu {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#menu ul {
    position: absolute;
    display: none;
}

#submenu ul {
    top: 0px;
    left: 180px;
}

#submenu {
    background-color: gray;
}

#nav li:hover > ul {
    display: block;
}